[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
snapshottest = "*"
pipenv-to-requirements = "*"

[packages]
parsel = "*"
requests = "*"
jsons = "*"
flask = "*"
httplib2 = "*"

[requires]
python_version = "3.7"
