<!DOCTYPE html>
<html lang="pl">
<head>
	<link rel="manifest" href="https://kwejk.pl/manifest.json">
	<meta charset="utf-8">
	<meta name="robots" content="index,follow"/>
	<meta id="csrf-token" name="csrf-token" content="xvL5kdUWGtaiZjrrB1VrICRaYyJAQKNqIs8PxHT5">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="description"
		  content="Na Kwejk.pl znajdziesz najśmieszniejsze i najciekawsze materiały z internetu. Codziennie dostarczamy sporą dawkę śmiesznych obrazków, gifów, filmików, artykułów i ciekawostek, którymi możesz dzielić się ze swoimi znajomymi na Facebooku. Sprawdź!"/>
	<meta name="keywords"
		  content="śmieszne,wyspa gry,obrazki,rozrywka,gry online gry online,śmieszne filmiki,darmowe gry na,zagadki,zdjęcia obrazki,gry wyspa gier,rysunki,kawały żarty,filmiki,na pulpit,filmy filmy online,śmieszne dowcipy,filmiki dla dzieci,emoty,kawały,gry line"/>
	<link rel="shortcut icon" href="https://kwejk.pl/favicon.ico" type="image/x-icon"/>
	<link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.kwejk.pl"/>

	<title>KWEJK.pl - Najlepszy zbiór obrazków z Internetu!</title>

	<meta property="fb:app_id" content="565589606823878"/>
	<meta property="fb:admins" content="100000976381162"/>
	<meta property="fb:pages" content="112414205500049"/>
	<meta property="og:site_name" content="KWEJK.pl">
	<meta property="og:title" content="Najlepszy zbiór obrazków z Internetu!"/>
	<meta property="og:image" content="https://kwejk.pl/images/missing.png"/>
	<meta property="og:description"
		  content="Na Kwejk.pl znajdziesz najśmieszniejsze i najciekawsze materiały z internetu. Codziennie dostarczamy sporą dawkę śmiesznych obrazków, gifów, filmików, artykułów i ciekawostek, którymi możesz dzielić się ze swoimi znajomymi na Facebooku. Sprawdź!"/>
	<meta property="og:url" content="https://kwejk.pl"/>
	<meta property="og:type" content="website"/>

	<meta name="p:domain_verify" content="a73c2c1ef84cc750ab9b9fca4023b990"/>
	<link href="https://kwejk.pl/css/app.css?id=d121078c11d81fb1d450" rel="stylesheet">

	<script src="https://kwejk.pl/js/jq.min.js?id=4201f8d59d3155d74b11" type="text/javascript"></script>
	<script type="text/javascript">
        Config.addConfig({
            'onesignal.app_id': 'ca6ac437-ac98-41c0-96fd-9adebe5fb85e',
            'onesignal.ios_id': 'web.onesignal.auto.590358f8-27c0-47d5-a3eb-31f3bec88b46',
            'api.facebook_app_id': '565589606823878',
            'api.google_recaptcha': '6LeiqDAUAAAAAPKE18w_fXUMdgFLqVmCbZqdWyyF',
        });
	</script>

	<!--[if lt IE 9]>
	<script src="https://kwejk.pl/js/html5shiv.min.js?id=40bd440d29b3a9371b0c" async></script>
	<script src="https://kwejk.pl/js/respond.min.js?id=43f8e67af3194f1791c6" async></script>    <![endif]-->
	<script type="text/javascript">
        Lang.setLocale("pl");
        window.socket = {
            port: 443,
            host: 'https://kwejk.pl',
            dir: '/socket/socket.io/socket.io.js'
        };
        window.cdn = {
            path: 'https://i1.kwejk.pl/k'
        }
	</script>
	<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
	<!-- (C)2000-2013 Gemius SA - gemiusAudience / pp.kwejk / strona_glowna_serwisu -->
	<script type="text/javascript">
        <!--//-->
        <![CDATA[//><!--
        var pp_gemius_identifier = 'zDGapjP729eyS4_fjzMyBWaG.hg1RK9fQ1RQRO_LkB3.d7';

        // lines below shouldn't be edited
        function gemius_pending(i) {
            window[i] = window[i] || function () {
                var x = window[i + '_pdata'] = window[i + '_pdata'] || [];
                x[x.length] = arguments;
            };
        };
        gemius_pending('gemius_hit');
        gemius_pending('gemius_event');
        gemius_pending('pp_gemius_hit');
        gemius_pending('pp_gemius_event');
        (function (d, t) {
            try {
                var gt = d.createElement(t), s = d.getElementsByTagName(t)[0],
                    l = 'http' + ((location.protocol == 'https:') ? 's' : '');
                gt.setAttribute('async', 'async');
                gt.setAttribute('defer', 'defer');
                gt.src = l + '://gapl.hit.gemius.pl/xgemius.js';
                s.parentNode.insertBefore(gt, s);
            } catch (e) {
            }
        })(document, 'script');
        //--><!
        ]]>
	</script>
	<script>(function () {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
        }
        _fbq.push(['addPixelId', '1100309403327781']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
	</script>
	<noscript>
		<img height="1" width="1" alt="" style="display:none"
			 src="https://www.facebook.com/tr?id=1100309403327781&amp;ev=PixelInitialized"/>
	</noscript>

	<script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', '//connect.facebook.net/pl_PL/fbevents.js');

        fbq('init', '1530971350528469');
        fbq('track', "PageView");</script>
	<noscript>
		<img height="1" width="1" style="display:none"
			 src="https://www.facebook.com/tr?id=1530971350528469&ev=PageView&noscript=1"/>
	</noscript>
	<!-- Google Tag Manager -->
<noscript>
	<iframe src="//www.googletagmanager.com/ns.html?id=GTM-NN5RX8" height="0" width="0"
			style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NN5RX8');
</script>
	<!-- End Google Tag Manager -->        <!-- Document HEAD header code -->
	<script type="text/javascript" src="//static.criteo.net/js/ld/publishertag.js"></script>
</head>
<body class="not-logged-in">
<header id="header">
	<nav class="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
					<span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="https://kwejk.pl">
					<span></span>
				</a>
			</div>
			<user-menu v-if="auth_resolved"></user-menu>
			<div id="navbar" class="collapse navbar-collapse">
				<a href="" data-toggle="modal" data-target="#login" class="add">Dodaj</a>
				<ul class="nav navbar-nav">
					<li class="await ">
						<a href="https://kwejk.pl/oczekujace">Oczekujące</a></li>
					<li class="movies ">
						<a href="https://kwejk.pl/filmy">Filmy</a>
					</li>
				</ul>
			</div>
		</div>

	</nav>

	<div class="submenu">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<ul class="category-menu">
						<li class="">
							<a href="https://kwejk.pl/kategoria/funnyimages">Humor</a>
						</li>
						<li class="">
							<a href="https://kwejk.pl/kategoria/filmiki">Filmiki</a>
						</li>
						<li class="">
							<a href="https://kwejk.pl/kategoria/laski">Laski</a>
						</li>
						<li class="">
							<a href="https://kwejk.pl/kategoria">Komiksy</a>
						</li>
						<li class="">
							<a href="https://kwejk.pl/kategoria">Galeria</a>
						</li>
						<li class="">
							<a href="https://kwejk.pl/kategoria">Ciekawostki</a>
						</li>
					</ul>

					<slick v-cloak v-if="is_mobile_width" :options="slickOptions">
						<a href="https://kwejk.pl/kategoria/samochody">Samochody</a>
						<a href="https://kwejk.pl/kategoria/zwierzeta">Zwierzęta</a>
						<a href="https://kwejk.pl/kategoria/funnyimages">Humor</a>
						<a href="https://kwejk.pl/kategoria/filmiki">Filmiki</a>
						<a href="https://kwejk.pl/kategoria/eleganckie">Eleganckie</a>
						<a href="https://kwejk.pl/kategoria/koty">Koty</a>
						<a href="https://kwejk.pl/kategoria/meme">Meme</a>
						<a href="https://kwejk.pl/kategoria/laski">Laski</a>
						<a href="https://kwejk.pl/kategoria">Komiksy</a>
						<a href="https://kwejk.pl/kategoria">Galeria</a>
						<a href="https://kwejk.pl/kategoria">Ciekawostki</a>
						<a href="https://kwejk.pl/kategoria">GIF</a>
					</slick>

					<a class="search-link collapsed" role="button" data-toggle="collapse" href="#search"
					   aria-expanded="false" aria-controls="search">Szukaj</a>
				</div>
			</div>
		</div>
	</div>

	<section id="search" class="search collapse">
		<div class="container-fluid">
			<div class="row">
				<div class="block col-xs-8">
					<h2>Kategorie</h2>
					<ul class="columns">
						<li class="">
							<a href="https://kwejk.pl/kategoria/samochody">Samochody</a></li>
						<li class="">
							<a href="https://kwejk.pl/kategoria/zwierzeta">Zwierzęta</a></li>
						<li class="">
							<a href="https://kwejk.pl/kategoria/funnyimages">Humor</a></li>
						<li class="">
							<a href="https://kwejk.pl/kategoria/filmiki">Filmiki</a></li>
						<li class="">
							<a href="https://kwejk.pl/kategoria/eleganckie">Eleganckie</a></li>
						<li class="">
							<a href="https://kwejk.pl/kategoria/koty">Koty</a></li>
						<li class="">
							<a href="https://kwejk.pl/kategoria/meme">Meme</a></li>
						<li class="">
							<a href="https://kwejk.pl/kategoria/laski">Laski</a></li>
						<li class="">
							<a href="https://kwejk.pl/kategoria">Komiksy</a></li>
						<li class="">
							<a href="https://kwejk.pl/kategoria">Galeria</a></li>
						<li class="">
							<a href="https://kwejk.pl/kategoria">Ciekawostki</a></li>
						<li class="">
							<a href="https://kwejk.pl/kategoria">GIF</a></li>
					</ul>
				</div>
				<div class="block col-xs-4">
					<h2>Popularne</h2>
					<ul class="column">
						<li class="">
							<a href="https://kwejk.pl/kategoria/samochody">Samochody</a></li>
						<li class="">
							<a href="https://kwejk.pl/kategoria/filmiki">Filmiki</a></li>
						<li class="">
							<a href="https://kwejk.pl/kategoria/eleganckie">Eleganckie</a></li>
						<li class="">
							<a href="https://kwejk.pl/kategoria/laski">Laski</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<message v-if="messageData.show" :type="messageData.type" :message="messageData.message"
			 :fade="messageData.fade"></message>
	<adb-board :status="true"></adb-board>
</header>
<main>


	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div class="ads" data-position="top_banner">
					<!-- kod w miejscu placementu Kwejk.pl_SG_Doublebillboard -->
					<div class="spolecznoscinet" id="spolecznosci-767"></div>
				</div>

			</div>
		</div>
		<div class="row feed-top-padding" role="feed">

			<div class="col-sm-8 col-xs-12" data-container="media-listing">

				<div class="media-element"
					 data-id="3143697"
					 data-user-id="92"
					 data-is-favorite="false"
					 data-comments-count="5"
					 data-vote-up="75"
					 data-vote-down="2"
					 data-full="false"
					 data-pv="false"
					 data-user-is-watching="false"
					 data-show-comments="false"
					 data-gallery-initial-slide="0"
					 data-image="https://i1.kwejk.pl/k/obrazki/2018/02/lqXPRFvJzmDzSmdI.jpg"
				>
					<div class="box fav" :class="{ best: is_favorite, 'long-image': is_to_long }">

						<div class="user-bar">
							<div class="content">
								<template v-if="is_favorite && !is_mobile">
									<a href="" class="fav oval ion-android-star" dusk="is-favorite"
									   @click.prevent="favorite()"></a>
								</template>
								<a href="https://kwejk.pl/uzytkownik/camaris" class="user">
						<span class="avatar">
	                        <img src="https://i1.kwejk.pl/k/users/thumbs/default.png" alt="">
	                    </span> <span class="name">Camaris</span> </a>

								<a href="" v-if="is_logged && user_id" :class="{ active : is_logged && is_watching }"
								   class="icon-view ion-ios-eye" v-watch-element="{type:'user', id: user_id}"></a>


							</div>
						</div>


						<div class="content">
							<h2>
								<a dusk="media-title-selector" href="https://kwejk.pl/obrazek/3143697/mial-farta.html">miał
									farta</a>
							</h2>
							<a href="https://kwejk.pl/obrazek/3143697/mial-farta.html" :class="comments_color"
							   class="counter ion-chatbox">
								<span>5</span> </a>
							<div class="toolbar">
								<a href="https://kwejk.pl/kategoria/samochody" class="category">Samochody</a>
								<div class="tag-list">
									<a href="https://kwejk.pl/tag/obrazek">#obrazek</a>
									<a href="https://kwejk.pl/tag/humor">#humor</a>
									<a href="https://kwejk.pl/tag/mem">#mem</a>
								</div>
							</div>
						</div>


						<figure class="figure">
							<a href="https://kwejk.pl/obrazek/3143697/mial-farta.html">
								<img v-show="loaded" :style="{ 'margin-bottom' : calculate_margin }" @load="imageLoaded"
									 src="https://i1.kwejk.pl/k/obrazki/2018/02/lqXPRFvJzmDzSmdI.jpg" alt="miał farta"/>
								<button @click.prevent="showLongImage" class="ion-code-working">Kliknij i rozwiń długi
									obrazek
								</button>
							</a>
						</figure>

						<template v-if="!edit">
							<div class="actions">
								<div class="votes">
									<template v-if="!is_voted()">
										<span @click.prevent="vote('up')" dusk="vote-up" data-action="vote"
											  data-type="up" data-prefix="media"
											  class="ion-plus-round vote btn-action"></span>
										<span @click.prevent="vote('down')" dusk="vote-down" data-action="vote"
											  data-type="down" data-prefix="media"
											  class="ion-minus-round vote btn-action"></span>
									</template>
									<span v-else data-action="vote" data-type="down" data-prefix="media"
										  class="vote btn-action"
										  :class="{'ion-plus-round' : score > 0, 'ion-minus-round' : score < 0, 'ion-empty': score == 0}"><span
											v-text="(score < 0 ? score * -1 : score)" dusk="vote-score"></span></span>


								</div>
								<div class="facebook">
									<div class="fb-like"
										 data-href="https://kwejk.pl/zobacz/3143697/mial-farta.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture"
										 data-layout="button_count" data-action="like" data-size="large"
										 data-show-faces="false" data-share="false"></div>
									<a href=""
									   @click.prevent="share('https://kwejk.pl/zobacz/3143697/mial-farta.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture')"
									   data-action="fb-share"
									   data-href="https://kwejk.pl/zobacz/3143697/mial-farta.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture"
									   class="fb-share">Udostępnij</a>
								</div>
								<a v-if="is_logged" href="#" dusk="media-favorite" @click.prevent="favorite()"
								   class="ion-android-star fav btn-action">fav</a>
							</div>

							<a href="#" @click.prevent="report()" class="report">Zgłoś</a>


							<admin v-if="is_moderator" @removed="removed()" :id="id"></admin>


							<comments v-if="show_comments" :id="id"></comments>
						</template>

						<edit v-if="edit" :id="id" @saved="edit=false"></edit>

					</div>

				</div>

				<div class="media-element"
					 data-id="3143503"
					 data-user-id="14"
					 data-is-favorite="false"
					 data-comments-count="6"
					 data-vote-up="17"
					 data-vote-down="5"
					 data-full="false"
					 data-pv="false"
					 data-user-is-watching="false"
					 data-show-comments="false"
					 data-gallery-initial-slide="0"
					 data-image="https://i1.kwejk.pl/k/obrazki/2018/02/f5nk5dMRZCThatDt.jpg"
				>
					<div class="box fav" :class="{ best: is_favorite, 'long-image': is_to_long }">

						<div class="user-bar">
							<div class="content">
								<template v-if="is_favorite && !is_mobile">
									<a href="" class="fav oval ion-android-star" dusk="is-favorite"
									   @click.prevent="favorite()"></a>
								</template>
								<a href="https://kwejk.pl/uzytkownik/galnor" class="user">
						<span class="avatar">
	                        <img src="https://i1.kwejk.pl/k/users/thumbs/default.png" alt="">
	                    </span> <span class="name">Galnor</span> </a>

								<a href="" v-if="is_logged && user_id" :class="{ active : is_logged && is_watching }"
								   class="icon-view ion-ios-eye" v-watch-element="{type:'user', id: user_id}"></a>


							</div>
						</div>


						<div class="content">
							<h2>
								<a dusk="media-title-selector"
								   href="https://kwejk.pl/przegladaj/3143503/0/ludzie-ktorzy-zrobili-zakupy-online-i-chyba-tego-pozalowali.html">Ludzie,
									którzy zrobili zakupy online i chyba tego pożałowali</a>
							</h2>
							<a href="https://kwejk.pl/przegladaj/3143503/0/ludzie-ktorzy-zrobili-zakupy-online-i-chyba-tego-pozalowali.html"
							   :class="comments_color" class="counter ion-chatbox">
								<span>6</span> </a>
							<div class="toolbar">
								<a href="https://kwejk.pl/kategoria" class="category">Galeria</a>
								<div class="tag-list">
									<a href="https://kwejk.pl/tag/humor">#humor</a>
									<a href="https://kwejk.pl/tag/galeria">#galeria</a>
									<a href="https://kwejk.pl/tag/fail">#fail</a>
									<a href="https://kwejk.pl/tag/wtf">#wtf</a>
									<a href="https://kwejk.pl/tag/zakupy">#zakupy</a>
									<a href="https://kwejk.pl/tag/online">#online</a>
									<a href="https://kwejk.pl/tag/oczekiwaniavsrzeczywistosc">#oczekiwaniavsrzeczywistosc</a>
									<a href="https://kwejk.pl/tag/aliexpress">#aliexpress</a>
								</div>
							</div>
						</div>


						<figure class="figure">
							<a href="https://kwejk.pl/przegladaj/3143503/0/ludzie-ktorzy-zrobili-zakupy-online-i-chyba-tego-pozalowali.html"
							   class="gallery-overlay">
        <span>
            <span>22</span>
            zdjęć
        </span>
							</a>
							<a href="https://kwejk.pl/przegladaj/3143503/0/ludzie-ktorzy-zrobili-zakupy-online-i-chyba-tego-pozalowali.html">
								<img v-show="loaded" :style="{ 'margin-bottom' : calculate_margin }" @load="imageLoaded"
									 src="https://i1.kwejk.pl/k/obrazki/2018/02/f5nk5dMRZCThatDt.jpg"
									 alt="Ludzie, którzy zrobili zakupy online i chyba tego pożałowali"/>
								<button @click.prevent="showLongImage" class="ion-code-working">Kliknij i rozwiń długi
									obrazek
								</button>
							</a>
						</figure>

						<template v-if="!edit">
							<div class="actions">
								<div class="votes">
									<template v-if="!is_voted()">
										<span @click.prevent="vote('up')" dusk="vote-up" data-action="vote"
											  data-type="up" data-prefix="media"
											  class="ion-plus-round vote btn-action"></span>
										<span @click.prevent="vote('down')" dusk="vote-down" data-action="vote"
											  data-type="down" data-prefix="media"
											  class="ion-minus-round vote btn-action"></span>
									</template>
									<span v-else data-action="vote" data-type="down" data-prefix="media"
										  class="vote btn-action"
										  :class="{'ion-plus-round' : score > 0, 'ion-minus-round' : score < 0, 'ion-empty': score == 0}"><span
											v-text="(score < 0 ? score * -1 : score)" dusk="vote-score"></span></span>


								</div>
								<div class="facebook">
									<div class="fb-like"
										 data-href="https://kwejk.pl/przegladaj/3143503/0/ludzie-ktorzy-zrobili-zakupy-online-i-chyba-tego-pozalowali.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=gallery"
										 data-layout="button_count" data-action="like" data-size="large"
										 data-show-faces="false" data-share="false"></div>
									<a href=""
									   @click.prevent="share('https://kwejk.pl/przegladaj/3143503/0/ludzie-ktorzy-zrobili-zakupy-online-i-chyba-tego-pozalowali.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=gallery')"
									   data-action="fb-share"
									   data-href="https://kwejk.pl/przegladaj/3143503/0/ludzie-ktorzy-zrobili-zakupy-online-i-chyba-tego-pozalowali.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=gallery"
									   class="fb-share">Udostępnij</a>
								</div>
								<a v-if="is_logged" href="#" dusk="media-favorite" @click.prevent="favorite()"
								   class="ion-android-star fav btn-action">fav</a>
							</div>

							<a href="#" @click.prevent="report()" class="report">Zgłoś</a>


							<admin v-if="is_moderator" @removed="removed()" :id="id"></admin>


							<comments v-if="show_comments" :id="id"></comments>
						</template>

						<edit v-if="edit" :id="id" @saved="edit=false"></edit>

					</div>

				</div>
				<div class="ads" data-position="rectangle2" data-container="media">
					<!-- kod w miejscu placementu Kwejk.pl_SG_SuperMEM -->
					<div class="spolecznoscinet" id="spolecznosci-784"></div>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Rectangle_SG1 -->
					<ins class="adsbygoogle"
						 style="display:inline-block;width:336px;height:280px"
						 data-ad-client="ca-pub-5512390705137507"
						 data-ad-slot="8407395029/1307721269"></ins>
					<script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
					</script>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Rectangle_SG2 -->
					<ins class="adsbygoogle"
						 style="display:inline-block;width:336px;height:280px"
						 data-ad-client="ca-pub-5512390705137507"
						 data-ad-slot="8407395029/2784429149"></ins>
					<script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>

				<div class="media-element"
					 data-id="3142867"
					 data-user-id="100"
					 data-is-favorite="false"
					 data-comments-count="6"
					 data-vote-up="83"
					 data-vote-down="19"
					 data-full="false"
					 data-pv="false"
					 data-user-is-watching="false"
					 data-show-comments="false"
					 data-gallery-initial-slide="0"
					 data-image="https://i1.kwejk.pl/k/obrazki/2018/02/qT4Bdvpr7qROh63G.jpg"
				>
					<div class="box fav" :class="{ best: is_favorite, 'long-image': is_to_long }">

						<div class="user-bar">
							<div class="content">
								<template v-if="is_favorite && !is_mobile">
									<a href="" class="fav oval ion-android-star" dusk="is-favorite"
									   @click.prevent="favorite()"></a>
								</template>
								<a href="https://kwejk.pl/uzytkownik/loralarr" class="user">
						<span class="avatar">
	                        <img src="https://i1.kwejk.pl/k/users/thumbs/default.png" alt="">
	                    </span> <span class="name">Loralarr</span> </a>

								<a href="" v-if="is_logged && user_id" :class="{ active : is_logged && is_watching }"
								   class="icon-view ion-ios-eye" v-watch-element="{type:'user', id: user_id}"></a>


							</div>
						</div>


						<div class="content">
							<h2>
								<a dusk="media-title-selector"
								   href="https://kwejk.pl/obrazek/3142867/z-brzucha-wystrzelilo.html">Z brzucha
									wystrzeliło</a>
							</h2>
							<a href="https://kwejk.pl/obrazek/3142867/z-brzucha-wystrzelilo.html"
							   :class="comments_color" class="counter ion-chatbox">
								<span>6</span> </a>
							<div class="toolbar">
								<a href="https://kwejk.pl/kategoria" class="category">Komiksy</a>
								<div class="tag-list">
									<a href="https://kwejk.pl/tag/obrazek">#obrazek</a>
									<a href="https://kwejk.pl/tag/humor">#humor</a>
									<a href="https://kwejk.pl/tag/ciaza">#ciaza</a>
									<a href="https://kwejk.pl/tag/dziecko">#dziecko</a>
									<a href="https://kwejk.pl/tag/porod">#porod</a>
								</div>
							</div>
						</div>


						<figure class="figure">
							<a href="https://kwejk.pl/obrazek/3142867/z-brzucha-wystrzelilo.html">
								<img v-show="loaded" :style="{ 'margin-bottom' : calculate_margin }" @load="imageLoaded"
									 src="https://i1.kwejk.pl/k/obrazki/2018/02/qT4Bdvpr7qROh63G.jpg"
									 alt="Z brzucha wystrzeliło"/>
								<button @click.prevent="showLongImage" class="ion-code-working">Kliknij i rozwiń długi
									obrazek
								</button>
							</a>
						</figure>

						<template v-if="!edit">
							<div class="actions">
								<div class="votes">
									<template v-if="!is_voted()">
										<span @click.prevent="vote('up')" dusk="vote-up" data-action="vote"
											  data-type="up" data-prefix="media"
											  class="ion-plus-round vote btn-action"></span>
										<span @click.prevent="vote('down')" dusk="vote-down" data-action="vote"
											  data-type="down" data-prefix="media"
											  class="ion-minus-round vote btn-action"></span>
									</template>
									<span v-else data-action="vote" data-type="down" data-prefix="media"
										  class="vote btn-action"
										  :class="{'ion-plus-round' : score > 0, 'ion-minus-round' : score < 0, 'ion-empty': score == 0}"><span
											v-text="(score < 0 ? score * -1 : score)" dusk="vote-score"></span></span>


								</div>
								<div class="facebook">
									<div class="fb-like"
										 data-href="https://kwejk.pl/zobacz/3142867/z-brzucha-wystrzelilo.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture"
										 data-layout="button_count" data-action="like" data-size="large"
										 data-show-faces="false" data-share="false"></div>
									<a href=""
									   @click.prevent="share('https://kwejk.pl/zobacz/3142867/z-brzucha-wystrzelilo.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture')"
									   data-action="fb-share"
									   data-href="https://kwejk.pl/zobacz/3142867/z-brzucha-wystrzelilo.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture"
									   class="fb-share">Udostępnij</a>
								</div>
								<a v-if="is_logged" href="#" dusk="media-favorite" @click.prevent="favorite()"
								   class="ion-android-star fav btn-action">fav</a>
							</div>

							<a href="#" @click.prevent="report()" class="report">Zgłoś</a>


							<admin v-if="is_moderator" @removed="removed()" :id="id"></admin>


							<comments v-if="show_comments" :id="id"></comments>
						</template>

						<edit v-if="edit" :id="id" @saved="edit=false"></edit>

					</div>

				</div>

				<div class="media-element"
					 data-id="3143691"
					 data-user-id="9"
					 data-is-favorite="false"
					 data-comments-count="5"
					 data-vote-up="127"
					 data-vote-down="2"
					 data-full="false"
					 data-pv="false"
					 data-user-is-watching="false"
					 data-show-comments="false"
					 data-gallery-initial-slide="0"
					 data-image="https://i1.kwejk.pl/k/obrazki/2018/02/xyPmsaVrZZ8sVXbr.jpg"
				>
					<div class="box fav" :class="{ best: is_favorite, 'long-image': is_to_long }">

						<div class="user-bar">
							<div class="content">
								<template v-if="is_favorite && !is_mobile">
									<a href="" class="fav oval ion-android-star" dusk="is-favorite"
									   @click.prevent="favorite()"></a>
								</template>
								<a href="https://kwejk.pl/uzytkownik/tallaane" class="user">
						<span class="avatar">
	                        <img src="https://i1.kwejk.pl/k/users/thumbs/default.png" alt="">
	                    </span> <span class="name">Tallaane</span> </a>

								<a href="" v-if="is_logged && user_id" :class="{ active : is_logged && is_watching }"
								   class="icon-view ion-ios-eye" v-watch-element="{type:'user', id: user_id}"></a>


							</div>
						</div>


						<div class="content">
							<h2>
								<a dusk="media-title-selector"
								   href="https://kwejk.pl/obrazek/3143691/patologia-w-polsce.html">Patologia w
									Polsce</a>
							</h2>
							<a href="https://kwejk.pl/obrazek/3143691/patologia-w-polsce.html" :class="comments_color"
							   class="counter ion-chatbox">
								<span>5</span> </a>
							<div class="toolbar">
								<a href="https://kwejk.pl/kategoria" class="category">Komiksy</a>
								<div class="tag-list">
									<a href="https://kwejk.pl/tag/obrazek">#obrazek</a>
									<a href="https://kwejk.pl/tag/polska">#polska</a>
									<a href="https://kwejk.pl/tag/ksiazki">#ksiazki</a>
									<a href="https://kwejk.pl/tag/patologia">#patologia</a>
									<a href="https://kwejk.pl/tag/telewizor">#telewizor</a>
								</div>
							</div>
						</div>


						<figure class="figure">
							<a href="https://kwejk.pl/obrazek/3143691/patologia-w-polsce.html">
								<img v-show="loaded" :style="{ 'margin-bottom' : calculate_margin }" @load="imageLoaded"
									 src="https://i1.kwejk.pl/k/obrazki/2018/02/xyPmsaVrZZ8sVXbr.jpg"
									 alt="Patologia w Polsce"/>
								<button @click.prevent="showLongImage" class="ion-code-working">Kliknij i rozwiń długi
									obrazek
								</button>
							</a>
						</figure>

						<template v-if="!edit">
							<div class="actions">
								<div class="votes">
									<template v-if="!is_voted()">
										<span @click.prevent="vote('up')" dusk="vote-up" data-action="vote"
											  data-type="up" data-prefix="media"
											  class="ion-plus-round vote btn-action"></span>
										<span @click.prevent="vote('down')" dusk="vote-down" data-action="vote"
											  data-type="down" data-prefix="media"
											  class="ion-minus-round vote btn-action"></span>
									</template>
									<span v-else data-action="vote" data-type="down" data-prefix="media"
										  class="vote btn-action"
										  :class="{'ion-plus-round' : score > 0, 'ion-minus-round' : score < 0, 'ion-empty': score == 0}"><span
											v-text="(score < 0 ? score * -1 : score)" dusk="vote-score"></span></span>


								</div>
								<div class="facebook">
									<div class="fb-like"
										 data-href="https://kwejk.pl/zobacz/3143691/patologia-w-polsce.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture"
										 data-layout="button_count" data-action="like" data-size="large"
										 data-show-faces="false" data-share="false"></div>
									<a href=""
									   @click.prevent="share('https://kwejk.pl/zobacz/3143691/patologia-w-polsce.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture')"
									   data-action="fb-share"
									   data-href="https://kwejk.pl/zobacz/3143691/patologia-w-polsce.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture"
									   class="fb-share">Udostępnij</a>
								</div>
								<a v-if="is_logged" href="#" dusk="media-favorite" @click.prevent="favorite()"
								   class="ion-android-star fav btn-action">fav</a>
							</div>

							<a href="#" @click.prevent="report()" class="report">Zgłoś</a>


							<admin v-if="is_moderator" @removed="removed()" :id="id"></admin>


							<comments v-if="show_comments" :id="id"></comments>
						</template>

						<edit v-if="edit" :id="id" @saved="edit=false"></edit>

					</div>

				</div>

				<div class="media-element"
					 data-id="3142981"
					 data-user-id="68"
					 data-is-favorite="false"
					 data-comments-count="2"
					 data-vote-up="72"
					 data-vote-down="7"
					 data-full="false"
					 data-pv="false"
					 data-user-is-watching="false"
					 data-show-comments="false"
					 data-gallery-initial-slide="0"
					 data-image="https://i1.kwejk.pl/k/obrazki/2018/02/D1yEOttK1wU3i0pI.jpg"
				>
					<div class="box fav" :class="{ best: is_favorite, 'long-image': is_to_long }">

						<div class="user-bar">
							<div class="content">
								<template v-if="is_favorite && !is_mobile">
									<a href="" class="fav oval ion-android-star" dusk="is-favorite"
									   @click.prevent="favorite()"></a>
								</template>
								<a href="https://kwejk.pl/uzytkownik/eldifana" class="user">
						<span class="avatar">
	                        <img src="https://i1.kwejk.pl/k/users/thumbs/default.png" alt="">
	                    </span> <span class="name">Eldifana</span> </a>

								<a href="" v-if="is_logged && user_id" :class="{ active : is_logged && is_watching }"
								   class="icon-view ion-ios-eye" v-watch-element="{type:'user', id: user_id}"></a>


							</div>
						</div>


						<div class="content">
							<h2>
								<a dusk="media-title-selector"
								   href="https://kwejk.pl/obrazek/3142981/krzesla-jedza-kable.html">Krzesła jedzą
									kable</a>
							</h2>
							<a href="https://kwejk.pl/obrazek/3142981/krzesla-jedza-kable.html" :class="comments_color"
							   class="counter ion-chatbox">
								<span>2</span> </a>
							<div class="toolbar">
								<a href="https://kwejk.pl/kategoria" class="category">Komiksy</a>
								<div class="tag-list">
									<a href="https://kwejk.pl/tag/obrazek">#obrazek</a>
									<a href="https://kwejk.pl/tag/komputer">#komputer</a>
									<a href="https://kwejk.pl/tag/sluchawki">#sluchawki</a>
									<a href="https://kwejk.pl/tag/krzeslo">#krzeslo</a>
									<a href="https://kwejk.pl/tag/kabel">#kabel</a>
								</div>
							</div>
						</div>


						<figure class="figure">
							<a href="https://kwejk.pl/obrazek/3142981/krzesla-jedza-kable.html">
								<img v-show="loaded" :style="{ 'margin-bottom' : calculate_margin }" @load="imageLoaded"
									 src="https://i1.kwejk.pl/k/obrazki/2018/02/D1yEOttK1wU3i0pI.jpg"
									 alt="Krzesła jedzą kable"/>
								<button @click.prevent="showLongImage" class="ion-code-working">Kliknij i rozwiń długi
									obrazek
								</button>
							</a>
						</figure>

						<template v-if="!edit">
							<div class="actions">
								<div class="votes">
									<template v-if="!is_voted()">
										<span @click.prevent="vote('up')" dusk="vote-up" data-action="vote"
											  data-type="up" data-prefix="media"
											  class="ion-plus-round vote btn-action"></span>
										<span @click.prevent="vote('down')" dusk="vote-down" data-action="vote"
											  data-type="down" data-prefix="media"
											  class="ion-minus-round vote btn-action"></span>
									</template>
									<span v-else data-action="vote" data-type="down" data-prefix="media"
										  class="vote btn-action"
										  :class="{'ion-plus-round' : score > 0, 'ion-minus-round' : score < 0, 'ion-empty': score == 0}"><span
											v-text="(score < 0 ? score * -1 : score)" dusk="vote-score"></span></span>


								</div>
								<div class="facebook">
									<div class="fb-like"
										 data-href="https://kwejk.pl/zobacz/3142981/krzesla-jedza-kable.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture"
										 data-layout="button_count" data-action="like" data-size="large"
										 data-show-faces="false" data-share="false"></div>
									<a href=""
									   @click.prevent="share('https://kwejk.pl/zobacz/3142981/krzesla-jedza-kable.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture')"
									   data-action="fb-share"
									   data-href="https://kwejk.pl/zobacz/3142981/krzesla-jedza-kable.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture"
									   class="fb-share">Udostępnij</a>
								</div>
								<a v-if="is_logged" href="#" dusk="media-favorite" @click.prevent="favorite()"
								   class="ion-android-star fav btn-action">fav</a>
							</div>

							<a href="#" @click.prevent="report()" class="report">Zgłoś</a>


							<admin v-if="is_moderator" @removed="removed()" :id="id"></admin>


							<comments v-if="show_comments" :id="id"></comments>
						</template>

						<edit v-if="edit" :id="id" @saved="edit=false"></edit>

					</div>

				</div>

				<div class="media-element"
					 data-id="3143673"
					 data-user-id="53"
					 data-is-favorite="false"
					 data-comments-count="0"
					 data-vote-up="73"
					 data-vote-down="6"
					 data-full="false"
					 data-pv="false"
					 data-user-is-watching="false"
					 data-show-comments="false"
					 data-gallery-initial-slide="0"
					 data-image="https://i1.kwejk.pl/k/obrazki/2018/02/6NXUZTLI9cdZVRPr.jpg"
				>
					<div class="box fav" :class="{ best: is_favorite, 'long-image': is_to_long }">

						<div class="user-bar">
							<div class="content">
								<template v-if="is_favorite && !is_mobile">
									<a href="" class="fav oval ion-android-star" dusk="is-favorite"
									   @click.prevent="favorite()"></a>
								</template>
								<a href="https://kwejk.pl/uzytkownik/gilina" class="user">
						<span class="avatar">
	                        <img src="https://i1.kwejk.pl/k/users/thumbs/default.png" alt="">
	                    </span> <span class="name">Gilina</span> </a>

								<a href="" v-if="is_logged && user_id" :class="{ active : is_logged && is_watching }"
								   class="icon-view ion-ios-eye" v-watch-element="{type:'user', id: user_id}"></a>


							</div>
						</div>


						<div class="content">
							<h2>
								<a dusk="media-title-selector" href="https://kwejk.pl/obrazek/3143673/dzieci.html">Dzieci</a>
							</h2>
							<a href="https://kwejk.pl/obrazek/3143673/dzieci.html" :class="comments_color"
							   class="counter ion-chatbox">
								<span>0</span> </a>
							<div class="toolbar">
								<a href="https://kwejk.pl/kategoria/funnyimages" class="category">Humor</a>
								<div class="tag-list">
									<a href="https://kwejk.pl/tag/obrazek">#obrazek</a>
									<a href="https://kwejk.pl/tag/humor">#humor</a>
									<a href="https://kwejk.pl/tag/dzieci">#dzieci</a>
								</div>
							</div>
						</div>


						<figure class="figure">
							<a href="https://kwejk.pl/obrazek/3143673/dzieci.html">
								<img v-show="loaded" :style="{ 'margin-bottom' : calculate_margin }" @load="imageLoaded"
									 src="https://i1.kwejk.pl/k/obrazki/2018/02/6NXUZTLI9cdZVRPr.jpg" alt="Dzieci"/>
								<button @click.prevent="showLongImage" class="ion-code-working">Kliknij i rozwiń długi
									obrazek
								</button>
							</a>
						</figure>

						<template v-if="!edit">
							<div class="actions">
								<div class="votes">
									<template v-if="!is_voted()">
										<span @click.prevent="vote('up')" dusk="vote-up" data-action="vote"
											  data-type="up" data-prefix="media"
											  class="ion-plus-round vote btn-action"></span>
										<span @click.prevent="vote('down')" dusk="vote-down" data-action="vote"
											  data-type="down" data-prefix="media"
											  class="ion-minus-round vote btn-action"></span>
									</template>
									<span v-else data-action="vote" data-type="down" data-prefix="media"
										  class="vote btn-action"
										  :class="{'ion-plus-round' : score > 0, 'ion-minus-round' : score < 0, 'ion-empty': score == 0}"><span
											v-text="(score < 0 ? score * -1 : score)" dusk="vote-score"></span></span>


								</div>
								<div class="facebook">
									<div class="fb-like"
										 data-href="https://kwejk.pl/zobacz/3143673/dzieci.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture"
										 data-layout="button_count" data-action="like" data-size="large"
										 data-show-faces="false" data-share="false"></div>
									<a href=""
									   @click.prevent="share('https://kwejk.pl/zobacz/3143673/dzieci.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture')"
									   data-action="fb-share"
									   data-href="https://kwejk.pl/zobacz/3143673/dzieci.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture"
									   class="fb-share">Udostępnij</a>
								</div>
								<a v-if="is_logged" href="#" dusk="media-favorite" @click.prevent="favorite()"
								   class="ion-android-star fav btn-action">fav</a>
							</div>

							<a href="#" @click.prevent="report()" class="report">Zgłoś</a>


							<admin v-if="is_moderator" @removed="removed()" :id="id"></admin>


							<comments v-if="show_comments" :id="id"></comments>
						</template>

						<edit v-if="edit" :id="id" @saved="edit=false"></edit>

					</div>

				</div>
				<div class="ads" data-position="rectangle6" data-container="media">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Rectangle_SG3 -->
					<ins class="adsbygoogle"
						 style="display:inline-block;width:336px;height:280px"
						 data-ad-client="ca-pub-5512390705137507"
						 data-ad-slot="8407395029/4261137029"></ins>
					<script type="text/javascript">
                        (adsbygoogle = window.adsbygoogle || []).push({});
					</script>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Rectangle_SG4 -->
					<ins class="adsbygoogle"
						 style="display:inline-block;width:336px;height:280px"
						 data-ad-client="ca-pub-5512390705137507"
						 data-ad-slot="8407395029/5737844909"></ins>
					<script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>

				<div class="media-element"
					 data-id="3142597"
					 data-user-id="64"
					 data-is-favorite="false"
					 data-comments-count="1"
					 data-vote-up="83"
					 data-vote-down="4"
					 data-full="false"
					 data-pv="false"
					 data-user-is-watching="false"
					 data-show-comments="false"
					 data-gallery-initial-slide="0"
					 data-image="https://i1.kwejk.pl/k/obrazki/2018/02/e9dMZE4uH9MOyrmB.jpg"
				>
					<div class="box fav" :class="{ best: is_favorite, 'long-image': is_to_long }">

						<div class="user-bar">
							<div class="content">
								<template v-if="is_favorite && !is_mobile">
									<a href="" class="fav oval ion-android-star" dusk="is-favorite"
									   @click.prevent="favorite()"></a>
								</template>
								<a href="https://kwejk.pl/uzytkownik/valian" class="user">
						<span class="avatar">
	                        <img src="https://i1.kwejk.pl/k/users/thumbs/default.png" alt="">
	                    </span> <span class="name">Valian</span> </a>

								<a href="" v-if="is_logged && user_id" :class="{ active : is_logged && is_watching }"
								   class="icon-view ion-ios-eye" v-watch-element="{type:'user', id: user_id}"></a>


							</div>
						</div>


						<div class="content">
							<h2>
								<a dusk="media-title-selector"
								   href="https://kwejk.pl/obrazek/3142597/tak-to-wyglada.html">Tak to wygląda</a>
							</h2>
							<a href="https://kwejk.pl/obrazek/3142597/tak-to-wyglada.html" :class="comments_color"
							   class="counter ion-chatbox">
								<span>1</span> </a>
							<div class="toolbar">
								<a href="https://kwejk.pl/kategoria/funnyimages" class="category">Humor</a>
								<div class="tag-list">
									<a href="https://kwejk.pl/tag/obrazek">#obrazek</a>
									<a href="https://kwejk.pl/tag/humor">#humor</a>
									<a href="https://kwejk.pl/tag/zarobki">#zarobki</a>
									<a href="https://kwejk.pl/tag/pensja">#pensja</a>
									<a href="https://kwejk.pl/tag/brutto">#brutto</a>
								</div>
							</div>
						</div>


						<figure class="figure">
							<a href="https://kwejk.pl/obrazek/3142597/tak-to-wyglada.html">
								<img v-show="loaded" :style="{ 'margin-bottom' : calculate_margin }" @load="imageLoaded"
									 src="https://i1.kwejk.pl/k/obrazki/2018/02/e9dMZE4uH9MOyrmB.jpg"
									 alt="Tak to wygląda"/>
								<button @click.prevent="showLongImage" class="ion-code-working">Kliknij i rozwiń długi
									obrazek
								</button>
							</a>
						</figure>

						<template v-if="!edit">
							<div class="actions">
								<div class="votes">
									<template v-if="!is_voted()">
										<span @click.prevent="vote('up')" dusk="vote-up" data-action="vote"
											  data-type="up" data-prefix="media"
											  class="ion-plus-round vote btn-action"></span>
										<span @click.prevent="vote('down')" dusk="vote-down" data-action="vote"
											  data-type="down" data-prefix="media"
											  class="ion-minus-round vote btn-action"></span>
									</template>
									<span v-else data-action="vote" data-type="down" data-prefix="media"
										  class="vote btn-action"
										  :class="{'ion-plus-round' : score > 0, 'ion-minus-round' : score < 0, 'ion-empty': score == 0}"><span
											v-text="(score < 0 ? score * -1 : score)" dusk="vote-score"></span></span>


								</div>
								<div class="facebook">
									<div class="fb-like"
										 data-href="https://kwejk.pl/zobacz/3142597/tak-to-wyglada.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture"
										 data-layout="button_count" data-action="like" data-size="large"
										 data-show-faces="false" data-share="false"></div>
									<a href=""
									   @click.prevent="share('https://kwejk.pl/zobacz/3142597/tak-to-wyglada.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture')"
									   data-action="fb-share"
									   data-href="https://kwejk.pl/zobacz/3142597/tak-to-wyglada.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture"
									   class="fb-share">Udostępnij</a>
								</div>
								<a v-if="is_logged" href="#" dusk="media-favorite" @click.prevent="favorite()"
								   class="ion-android-star fav btn-action">fav</a>
							</div>

							<a href="#" @click.prevent="report()" class="report">Zgłoś</a>


							<admin v-if="is_moderator" @removed="removed()" :id="id"></admin>


							<comments v-if="show_comments" :id="id"></comments>
						</template>

						<edit v-if="edit" :id="id" @saved="edit=false"></edit>

					</div>

				</div>

				<div class="media-element"
					 data-id="3143659"
					 data-user-id="7"
					 data-is-favorite="false"
					 data-comments-count="3"
					 data-vote-up="86"
					 data-vote-down="4"
					 data-full="false"
					 data-pv="false"
					 data-user-is-watching="false"
					 data-show-comments="false"
					 data-gallery-initial-slide="0"
					 data-image="https://i1.kwejk.pl/k/obrazki/2018/02/lGsNktVkIb24UItb.jpg"
				>
					<div class="box fav" :class="{ best: is_favorite, 'long-image': is_to_long }">

						<div class="user-bar">
							<div class="content">
								<template v-if="is_favorite && !is_mobile">
									<a href="" class="fav oval ion-android-star" dusk="is-favorite"
									   @click.prevent="favorite()"></a>
								</template>
								<a href="https://kwejk.pl/uzytkownik/orralion" class="user">
						<span class="avatar">
	                        <img src="https://i1.kwejk.pl/k/users/thumbs/default.png" alt="">
	                    </span> <span class="name">Orralion</span> </a>

								<a href="" v-if="is_logged && user_id" :class="{ active : is_logged && is_watching }"
								   class="icon-view ion-ios-eye" v-watch-element="{type:'user', id: user_id}"></a>


							</div>
						</div>


						<div class="content">
							<h2>
								<a dusk="media-title-selector" href="https://kwejk.pl/obrazek/3143659/tak-bylo.html">Tak
									było</a>
							</h2>
							<a href="https://kwejk.pl/obrazek/3143659/tak-bylo.html" :class="comments_color"
							   class="counter ion-chatbox">
								<span>3</span> </a>
							<div class="toolbar">
								<a href="https://kwejk.pl/kategoria/funnyimages" class="category">Humor</a>
								<div class="tag-list">
									<a href="https://kwejk.pl/tag/obrazek">#obrazek</a>
									<a href="https://kwejk.pl/tag/historia">#historia</a>
									<a href="https://kwejk.pl/tag/ragequit">#ragequit</a>
								</div>
							</div>
						</div>


						<figure class="figure">
							<player v-once
									class="video-player-box"
									ref="video-player-3143659"
									source="https://i1.kwejk.pl/k/obrazki/2018/02/NfcQM8ScHWnJzC1J.mp4"
									poster="https://i1.kwejk.pl/k/obrazki/2018/02/lGsNktVkIb24UItb.jpg"
									:options="{autoplay:true, controls: false, loop:true}"
							>

							</player>
						</figure>

						<template v-if="!edit">
							<div class="actions">
								<div class="votes">
									<template v-if="!is_voted()">
										<span @click.prevent="vote('up')" dusk="vote-up" data-action="vote"
											  data-type="up" data-prefix="media"
											  class="ion-plus-round vote btn-action"></span>
										<span @click.prevent="vote('down')" dusk="vote-down" data-action="vote"
											  data-type="down" data-prefix="media"
											  class="ion-minus-round vote btn-action"></span>
									</template>
									<span v-else data-action="vote" data-type="down" data-prefix="media"
										  class="vote btn-action"
										  :class="{'ion-plus-round' : score > 0, 'ion-minus-round' : score < 0, 'ion-empty': score == 0}"><span
											v-text="(score < 0 ? score * -1 : score)" dusk="vote-score"></span></span>


								</div>
								<div class="facebook">
									<div class="fb-like"
										 data-href="https://kwejk.pl/zobacz/3143659/tak-bylo.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=mp4"
										 data-layout="button_count" data-action="like" data-size="large"
										 data-show-faces="false" data-share="false"></div>
									<a href=""
									   @click.prevent="share('https://kwejk.pl/zobacz/3143659/tak-bylo.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=mp4')"
									   data-action="fb-share"
									   data-href="https://kwejk.pl/zobacz/3143659/tak-bylo.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=mp4"
									   class="fb-share">Udostępnij</a>
								</div>
								<a v-if="is_logged" href="#" dusk="media-favorite" @click.prevent="favorite()"
								   class="ion-android-star fav btn-action">fav</a>
							</div>

							<a href="#" @click.prevent="report()" class="report">Zgłoś</a>


							<admin v-if="is_moderator" @removed="removed()" :id="id"></admin>


							<comments v-if="show_comments" :id="id"></comments>
						</template>

						<edit v-if="edit" :id="id" @saved="edit=false"></edit>

					</div>

				</div>

				<div class="ads" data-position="bottom_banner">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- k_Billboard_SG_bottom_v2 -->
					<ins class="adsbygoogle"
						 style="display:inline-block;width:750px;height:300px"
						 data-ad-client="ca-pub-5512390705137507"
						 data-ad-slot="8407395029/6777093464"></ins>
					<script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>

				<div class="pagination">
					<a href="https://kwejk.pl/strona/37285" class="btn btn-next btn-gold">
						Następna strona
						<span class="ion-ios-arrow-forward"></span>
					</a>
					<a href="https://kwejk.pl/losowy" class="btn btn-random btn-gold"><span
							class="ion-ios-shuffle-strong"></span>Losuj kwejka</a>
					<ul class="pager">
						<li class="current">
							<a href="https://kwejk.pl">37286</a>
						</li>
						<li>
							<a href="https://kwejk.pl/strona/37285">37285</a>
						</li>
						<li>
							<a href="https://kwejk.pl/strona/37284">37284</a>
						</li>
						<li>
							<a href="https://kwejk.pl/strona/37283">37283</a>
						</li>
						<li>
							<a href="https://kwejk.pl/strona/37282">37282</a>
						</li>
						<li>
							<a href="https://kwejk.pl/strona/37281">37281</a>
						</li>
						<li>
							<a href="https://kwejk.pl/strona/37280">37280</a>
						</li>
						<li>
							<a href="https://kwejk.pl/strona/37279">37279</a>
						</li>
						<li>
							<a href="https://kwejk.pl/strona/37278">37278</a>
						</li>
						<li>
							<a href="https://kwejk.pl/strona/37277">37277</a>
						</li>
						<li>
							<a href="https://kwejk.pl/strona/37276">37276</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-sm-4 col-xs-12">

				<div class="best best-mems">
					<h3>Najczęściej oglądane kwejki:</h3>
					<ul>
						<li>
							<a href="https://kwejk.pl/przegladaj/3140949/0/porcja-interesujacych-zdjec-i-jeden-gif.html">
								<figure>
									<img src="https://i1.kwejk.pl/k/obrazki/2018/02/hslwrzXswSqh4do1.jpg" alt=""/>
								</figure>
								<h4>Porcja interesujących zdjęć (i jeden gif)</h4>
							</a>
						</li>
						<li>
							<a href="https://kwejk.pl/przegladaj/3142435/0/niesamowite-przypadki-i-zbiegi-okolicznosci.html">
								<figure>
									<img src="https://i1.kwejk.pl/k/obrazki/2018/02/tk6BFj1TGS0RnJjq.jpg" alt=""/>
								</figure>
								<h4>Niesamowite przypadki i zbiegi okoliczności</h4>
							</a>
						</li>
						<li>
							<a href="https://kwejk.pl/przegladaj/3142431/0/seksowne-gify-na-ktorych-panie-pokazuja-swoje-zalety.html">
								<figure>
									<img src="https://i1.kwejk.pl/k/obrazki/2018/02/dsGnwk8HyQ6lurhP_mobile2.jpg"
										 alt=""/>
								</figure>
								<h4>Seksowne gify, na których panie pokazują swoje... zalety</h4>
							</a>
						</li>
					</ul>
				</div>
				<div class="best best-comments">
					<h3>Najlepsze komentarze:</h3>
					<ul class="comment-list">
						<li>
							<a href="https://kwejk.pl/obrazek/3142359/superbowl.html#komentarz-5162999">
								<div class="thumb">
									<img src="https://i1.kwejk.pl/k/obrazki/2018/02/jRin9cYI3nTimPkb_mobile.jpg"
										 alt="Mackuree"/>
								</div>
								<span class="name">Mackuree</span>
								<p>Super miska? O co chodzi?</p>
							</a>
						</li>
						<li>
							<a href="https://kwejk.pl/obrazek/3142163/wiedzialem.html#komentarz-5160577">
								<div class="thumb">
									<img src="https://i1.kwejk.pl/k/obrazki/2018/02/mHeyTUit0pqvGm7Q_mobile.jpg"
										 alt=""/>
								</div>
								<span class="name">Anonimowy</span>
								<p>I to jest osoba, kt&oacute;rą warto śledzić a nie jakieś Dany Blizeriany, o kt&oacute;rych
									już pewni...</p>
							</a>
						</li>
						<li>
							<a href="https://kwejk.pl/przegladaj/3143631/0/komiksy-electric-bunny.html#komentarz-5169811">
								<div class="thumb">
									<img src="https://i1.kwejk.pl/k/obrazki/2018/02/AO86TaUF8mhlBdt3_mobile.jpg"
										 alt=""/>
								</div>
								<span class="name">Anonimowy</span>
								<p>Jeden z moich ulubionych komiks&oacute;w internetowych :)</p>
							</a>
						</li>
					</ul>
				</div>
				<div class="ads" data-element="sticky-after_right_bar" data-position="after_right_bar"
					 style="text-align:left;">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- k_Halfpage_SG -->
					<ins class="adsbygoogle"
						 style="display:inline-block;width:300px;height:600px;"
						 data-ad-client="ca-pub-5512390705137507"
						 data-ad-slot="8407395029/3396984672"></ins>
					<script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>

				<script type="text/javascript">
                    $(function () {
                        var margin = 60;
                        if ($(window).height() > 700) {
                            margin += 20;
                        }
                        $('[data-element="sticky-after_right_bar"]').sticky({topSpacing: margin, bottomSpacing: 880});
                    });
				</script>


			</div>
		</div>
	</div>
</main>
<footer class="main">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<ul class="nav">
					<li><a href="https://kwejk.pl/kontakt">Kontakt</a></li>
					<li><a href="https://kwejk.pl/reklama">Reklama</a></li>
					<li><a href="https://kwejk.pl/regulamin">Regulamin</a></li>
					<li><a href="https://kwejk.pl/polityka-prywatnosci">Polityka plików cookies</a></li>
				</ul>
			</div>
			<div class="col-xs-12">
				<div class="seo">
					<p>KWEJK.pl - słowa kluczowe określające tematykę strony (rozrywka to: tapety na, gry gry, zdjęcia
						obrazki, gra, śmieszne filmiki, www wyspa gier, gry line, śmieszne dowcipy, filmiki dla dzieci,
						kawały żarty, filmiki, śmieszne, gry online gry online, dowcipy i kawały, zdjęcia i obrazki,
						kawały kawały, gry online gry, filmy, kawały , sylwestrerzdwojka , laskocz , rannych , puppies ,
						kennedy , warteo , solidne , orwell , upale , nikogo , zespołowa , grubaska , japoniec ,
						playstalin , perfectbff , blueswomanka , zgaszony , indoktrynizacja , znaleziona , tymi )</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<div id="common" v-cloak>
	<login v-if="!is_logged"></login>
	<password v-if="!is_logged"></password>
	<register-a dusk="register-a-component" v-if="!is_logged"></register-a>
	<register-b dusk="register-b-component" v-if="!is_logged"></register-b>
	<report></report>
	<first-screen-users v-if="show_first_screen_users"></first-screen-users>
	<first-screen-tags v-if="show_first_screen_tags"></first-screen-tags>
	<mobile-creations v-if="is_mobile"></mobile-creations>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwdIbSTVa1TXjcWiPkYyBBe4gcNeceioY&libraries=places"
		async></script>
<script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer></script>
<script src="https://kwejk.pl:443/socket/socket.io/socket.io.js" async></script>
<script src="https://kwejk.pl/js/app.js?id=d23e678bd4f5989783ce" type="text/javascript" async defer></script>
<script type="text/javascript">
    var _qasp = _qasp || [];
    _qasp.push('go');
    _qasp.push(['setSafe', true]);
    _qasp.push(['setFastPAID', 'sadKwejk']);
</script>
<script type="text/javascript">
    (function (d, x, a) {
        var z = d.createElement(x); z.type = 'text/javascript'; z.src = a; var s = d.getElementsByTagName(x)[0]; s.parentNode.insertBefore(z, s);
    })(document, 'script', 'https://s.spolecznosci.net/js/core2-min.20.js');
</script>
<span style="display:none;">0.037624835968018</span>
</body>
</html>