<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="manifest" href="https://kwejk.pl/manifest.json">
    <meta charset="utf-8">
    <meta name="robots" content="index,follow"/>
    <meta id="csrf-token" name="csrf-token" content="YtbyPxh8O9LKbEjODXRMnyFbahsKoL9w3OYFUeJ1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description"
          content="Na Kwejk.pl znajdziesz najśmieszniejsze i najciekawsze materiały z internetu. Codziennie dostarczamy sporą dawkę śmiesznych obrazków, gifów, filmików, artykułów i ciekawostek, którymi możesz dzielić się ze swoimi znajomymi na Facebooku. Sprawdź!"/>
    <link rel="shortcut icon" href="https://kwejk.pl/favicon.ico" type="image/x-icon"/>
    <link rel="alternate" media="only screen and (max-width: 768px)"
          href="https://m.kwejk.pl/obrazek/3175539/a-co-z-twoim-chlopakiem.html"/>


    <link rel="canonical" href="https://kwejk.pl/obrazek/3175539/a-co-z-twoim-chlopakiem.html"/>


    <title>A co z twoim chłopakiem? - Kwejk.pl - Najlepszy zbiór obrazków z Internetu!</title>

    <meta property="fb:app_id" content="565589606823878"/>
    <meta property="fb:admins" content="100000976381162"/>
    <meta property="fb:pages" content="112414205500049"/>
    <meta property="og:site_name" content="KWEJK.pl">
    <meta property="og:title" content="A co z twoim chłopakiem?"/>
    <meta property="og:image" content="https://i1.kwejk.pl/k/obrazki/2018/04/3sDagfE9EASSLZxu_fb.jpg"/>
    <meta property="og:description"
          content="Na Kwejk.pl znajdziesz najśmieszniejsze i najciekawsze materiały z internetu. Codziennie dostarczamy sporą dawkę śmiesznych obrazków, gifów, filmików, artykułów i ciekawostek, którymi możesz dzielić się ze swoimi znajomymi na Facebooku. Sprawdź!"/>
    <meta property="og:url" content="https://kwejk.pl/obrazek/3175539/a-co-z-twoim-chlopakiem.html"/>
    <meta property="og:type" content="article"/>

    <meta property="og:state" content="main"/>
    <meta property="article:published_time" content="2018-04-07T12:33:39+02:00"/>
    <meta property="article:author" content="https://www.facebook.com/kwejk.fan"/>

    <meta name="p:domain_verify" content="a73c2c1ef84cc750ab9b9fca4023b990"/>
    <link href="https://kwejk.pl/css/app.css?id=9f3ff09a0f360f801375" rel="stylesheet">

    <script src="https://kwejk.pl/js/jq.min.js?id=4201f8d59d3155d74b11" type="text/javascript"></script>
    <script type="text/javascript">
        Config.addConfig({
            'onesignal.app_id': 'ca6ac437-ac98-41c0-96fd-9adebe5fb85e',
            'onesignal.ios_id': 'web.onesignal.auto.590358f8-27c0-47d5-a3eb-31f3bec88b46',
            'api.facebook_app_id': '565589606823878',
            'api.google_recaptcha': '6LeiqDAUAAAAAPKE18w_fXUMdgFLqVmCbZqdWyyF',
        });
    </script>

    <!--[if lt IE 9]>
    <script src="https://kwejk.pl/js/html5shiv.min.js?id=40bd440d29b3a9371b0c" async></script>
    <script src="https://kwejk.pl/js/respond.min.js?id=43f8e67af3194f1791c6" async></script>    <![endif]-->
    <script type="text/javascript">
        Lang.setLocale("pl");
        window.socket = {
            port: 443,
            host: 'https://kwejk.pl',
            dir: '/socket/socket.io/socket.io.js'
        };
        window.cdn = {
            path: 'https://i1.kwejk.pl/k'
        }
    </script>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <!-- (C)2000-2013 Gemius SA - gemiusAudience / pp.kwejk / podstrony -->
    <script type="text/javascript">
        <!--//-->
        <![CDATA[//><!--
        var pp_gemius_identifier = 'zNE6SDR7y9ayG48fDz9ClLRH.q4y_69TnsZQ._CLOC7.G7';

        // lines below shouldn't be edited
        function gemius_pending(i) {
            window[i] = window[i] || function () {
                var x = window[i + '_pdata'] = window[i + '_pdata'] || [];
                x[x.length] = arguments;
            };
        };
        gemius_pending('gemius_hit');
        gemius_pending('gemius_event');
        gemius_pending('pp_gemius_hit');
        gemius_pending('pp_gemius_event');
        (function (d, t) {
            try {
                var gt = d.createElement(t), s = d.getElementsByTagName(t)[0],
                    l = 'http' + ((location.protocol == 'https:') ? 's' : '');
                gt.setAttribute('async', 'async');
                gt.setAttribute('defer', 'defer');
                gt.src = l + '://gapl.hit.gemius.pl/xgemius.js';
                s.parentNode.insertBefore(gt, s);
            } catch (e) {
            }
        })(document, 'script');
        //--><!
        ]]>
    </script>
    <script>(function () {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
        }
        _fbq.push(['addPixelId', '1100309403327781']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript>
        <img height="1" width="1" alt="" style="display:none"
             src="https://www.facebook.com/tr?id=1100309403327781&amp;ev=PixelInitialized"/>
    </noscript>

    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', '//connect.facebook.net/pl_PL/fbevents.js');

        fbq('init', '1530971350528469');
        fbq('track', "PageView");</script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1530971350528469&ev=PageView&noscript=1"/>
    </noscript>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NN5RX8" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NN5RX8');
    </script>
    <!-- End Google Tag Manager -->                <!-- Document HEAD header code -->
    <script type="text/javascript" src="//static.criteo.net/js/ld/publishertag.js"></script>
</head>
<body class="not-logged-in">
<header id="header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://kwejk.pl">
                    <span></span>
                </a>
            </div>
            <user-menu v-if="auth_resolved"></user-menu>
            <div id="navbar" class="collapse navbar-collapse">
                <a href="" data-toggle="modal" data-target="#login" class="add">Dodaj</a>
                <ul class="nav navbar-nav">
                    <li class="await ">
                        <a href="https://kwejk.pl/oczekujace">Oczekujące</a></li>
                    <li class="movies ">
                        <a href="https://kwejk.pl/filmy">Filmy</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

    <div class="submenu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="category-menu">
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/humor">Humor</a>
                        </li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/filmiki">Filmiki</a>
                        </li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/laski">Laski</a>
                        </li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/komiksy">Komiksy</a>
                        </li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/galeria">Galeria</a>
                        </li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/ciekawostki">Ciekawostki</a>
                        </li>
                    </ul>

                    <slick v-cloak v-if="is_mobile_width" :options="slickOptions">
                        <a href="https://kwejk.pl/kategoria/samochody">Samochody</a>
                        <a href="https://kwejk.pl/kategoria/zwierzeta">Zwierzęta</a>
                        <a href="https://kwejk.pl/kategoria/humor">Humor</a>
                        <a href="https://kwejk.pl/kategoria/filmiki">Filmiki</a>
                        <a href="https://kwejk.pl/kategoria/eleganckie">Eleganckie</a>
                        <a href="https://kwejk.pl/kategoria/koty">Koty</a>
                        <a href="https://kwejk.pl/kategoria/meme">Meme</a>
                        <a href="https://kwejk.pl/kategoria/laski">Laski</a>
                        <a href="https://kwejk.pl/kategoria/komiksy">Komiksy</a>
                        <a href="https://kwejk.pl/kategoria/galeria">Galeria</a>
                        <a href="https://kwejk.pl/kategoria/ciekawostki">Ciekawostki</a>
                        <a href="https://kwejk.pl/kategoria/gif">GIF</a>
                    </slick>

                    <a class="search-link collapsed" role="button" data-toggle="collapse" href="#search"
                       aria-expanded="false" aria-controls="search">Szukaj</a>
                </div>
            </div>
        </div>
    </div>

    <section id="search" class="search collapse">
        <div class="container-fluid">
            <div class="row">
                <div class="block col-xs-8">
                    <h2>Kategorie</h2>
                    <ul class="columns">
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/samochody">Samochody</a></li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/zwierzeta">Zwierzęta</a></li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/humor">Humor</a></li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/filmiki">Filmiki</a></li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/eleganckie">Eleganckie</a></li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/koty">Koty</a></li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/meme">Meme</a></li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/laski">Laski</a></li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/komiksy">Komiksy</a></li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/galeria">Galeria</a></li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/ciekawostki">Ciekawostki</a></li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/gif">GIF</a></li>
                    </ul>
                </div>
                <div class="block col-xs-4">
                    <h2>Popularne</h2>
                    <ul class="column">
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/samochody">Samochody</a></li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/filmiki">Filmiki</a></li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/eleganckie">Eleganckie</a></li>
                        <li class="">
                            <a href="https://kwejk.pl/kategoria/laski">Laski</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <message v-if="messageData.show" :type="messageData.type" :message="messageData.message"
             :fade="messageData.fade"></message>
    <adb-board v-if="!is_mobile" :status="true"></adb-board>
</header>
<main>


    <div class="container-fluid">
        <div class="ads" data-position="top_banner">
            <!-- kod w miejscu placementu Kwejk.pl_Obrazek_Doublebillboard -->
            <div class="spolecznoscinet" id="spolecznosci-768"></div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-xs-12 col-sm-offset-2 feed-bottom-padding feed-top-padding" role="feed">

                <div class="media-element"
                     data-id="3175539"
                     data-user-id="79"
                     data-is-favorite="false"
                     data-comments-count="129"
                     data-vote-up="233"
                     data-vote-down="9"
                     data-full="true"
                     data-gallery="false"
                     data-pv="true"
                     data-user-is-watching="false"
                     data-show-comments="true"
                     data-gallery-initial-slide="0"
                     data-image="https://i1.kwejk.pl/k/obrazki/2018/04/BpFFWYFoMhJLrArm.jpg"
                >
                    <div class="box fav" :class="{ best: is_favorite, 'long-image': is_to_long }">

                        <div class="user-bar">
                            <div class="content">
                                <template v-if="is_favorite && !is_mobile">
                                    <a href="" class="fav oval ion-android-star" dusk="is-favorite"
                                       @click.prevent="favorite()"></a>
                                </template>
                                <a href="https://kwejk.pl/uzytkownik/caoth" class="user">
	<span class="avatar">
		<img src="https://i1.kwejk.pl/k/users/thumbs/default.png" alt="">
	</span>
                                    <span class="name">Caoth</span>
                                </a>

                                <a href="" v-if="is_logged && user_id" :class="{ active : is_logged && is_watching }"
                                   class="icon-view ion-ios-eye" v-watch-element="{type:'user', id: user_id}"></a>


                            </div>
                        </div>

                        <div class="content">
                            <h1>
                                <a dusk="media-title-selector"
                                   href="https://kwejk.pl/obrazek/3175539/a-co-z-twoim-chlopakiem.html">
                                    A co z twoim chłopakiem?
                                </a>
                            </h1>
                            <a href="https://kwejk.pl/obrazek/3175539/a-co-z-twoim-chlopakiem.html"
                               :class="comments_color" class="counter ion-chatbox">
                                <span>129</span> </a>
                            <div class="toolbar">
                                <a href="https://kwejk.pl/kategoria/humor" class="category">Humor</a>
                                <div class="tag-list">
                                    <a href="https://kwejk.pl/tag/obrazek">#obrazek</a>
                                    <a href="https://kwejk.pl/tag/humor">#humor</a>
                                    <a href="https://kwejk.pl/tag/mem">#mem</a>
                                    <a href="https://kwejk.pl/tag/pic">#pic</a>
                                    <a href="https://kwejk.pl/tag/klasycznememy">#klasycznememy</a>
                                </div>
                            </div>
                        </div>


                        <figure class="figure">
                            <a href="https://kwejk.pl/obrazek/3175539/a-co-z-twoim-chlopakiem.html">
                                <img class="full-image" v-show="loaded" :style="{ 'margin-bottom' : calculate_margin }"
                                     @load="imageLoaded"
                                     src="https://i1.kwejk.pl/k/obrazki/2018/04/BpFFWYFoMhJLrArm.jpg"
                                     alt="A co z twoim chłopakiem?"/>
                                <button @click.prevent="showLongImage" class="ion-code-working">Obrazek zwinięty,
                                    kliknij aby rozwinąć
                                </button>
                            </a>
                        </figure>


                        <template v-if="!edit">
                            <div class="actions">
                                <div class="votes">
                                    <template v-if="!is_voted()">
                                        <span @click.prevent="vote('up')" dusk="vote-up" data-action="vote"
                                              data-type="up" data-prefix="media"
                                              class="ion-plus-round vote btn-action"></span>
                                        <span @click.prevent="vote('down')" dusk="vote-down" data-action="vote"
                                              data-type="down" data-prefix="media"
                                              class="ion-minus-round vote btn-action"></span>
                                    </template>
                                    <span v-else class="vote btn-action"
                                          :class="{'ion-plus-round' : score > 0, 'ion-minus-round' : score < 0, 'ion-empty': score == 0}"><span
                                            v-text="(score < 0 ? score * -1 : score)" dusk="vote-score"></span></span>


                                </div>
                                <div class="facebook">
                                    <div class="fb-like"
                                         data-href="https://kwejk.pl/zobacz/3175539/a-co-z-twoim-chlopakiem.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture"
                                         data-layout="button_count" data-action="like" data-size="large"
                                         data-show-faces="false" data-share="false"></div>
                                    <a href=""
                                       @click.prevent="share('https://kwejk.pl/zobacz/3175539/a-co-z-twoim-chlopakiem.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture')"
                                       data-action="fb-share"
                                       data-href="https://kwejk.pl/zobacz/3175539/a-co-z-twoim-chlopakiem.html?utm_source=fb&utm_medium=fb&utm_campaign=fb&type=picture"
                                       class="fb-share">Udostępnij</a>
                                </div>
                                <a v-if="is_logged" href="#" dusk="media-favorite" @click.prevent="favorite()"
                                   class="ion-android-star fav btn-action">fav</a>
                            </div>

                            <a href="#" @click.prevent="report()" class="report">Zgłoś</a>
                            <div class="clearfix"></div>


                            <admin v-if="is_moderator && !is_mobile" @removed="removed()" :id="id"></admin>

                            <div class="ads" data-position="comments_top">
                                <div data-widget="plista_widget_belowArticle"></div>

                            </div>


                            <comments v-if="show_comments" :id="id" @loaded="commentsLoaded"></comments>
                        </template>

                        <edit v-if="edit" :id="id" @saved="edit=false"></edit>

                    </div>

                </div>

                <div class="ads" data-position="comments_top">
                    <script type="text/javascript">
                        setTimeout(function () {

                            (function (c) {
                                var g, s = 'script', w = window, n = c.name || 'PLISTA';
                                if (!w[n]) {
                                    w[n] = c;
                                    g = w.document.getElementsByTagName(s)[0];
                                    s = w.document.createElement(s);
                                    s.async = true;
                                    s.type = 'text/javascript';
                                    s.src = (w.location.protocol === 'https:' ? 'https:' : 'http:') + '//static' + (c.origin ? '-' + c.origin : '') + '.plista.com/async' + (c.name ? '/' + c.name : '') + '.js';
                                    g.parentNode.insertBefore(s, g);
                                }
                            }({
                                "publickey": "938e00fb4057d9fe6a73e0a5",
                                "origin": "pl"
                            }));

                        }, 3000)
                    </script>

                </div>


                <div class="pagination">
                    <a href="https://kwejk.pl" class="btn btn-next btn-gold"> Strona główna
                        <span class="ion-ios-arrow-forward"></span> </a>
                    <a href="https://kwejk.pl/losowy" class="btn btn-random btn-gold"><span
                            class="ion-ios-shuffle-strong"></span>Losuj kwejka</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav">
                    <li><a href="https://kwejk.pl/kontakt">Kontakt</a></li>
                    <li><a href="https://kwejk.pl/reklama">Reklama</a></li>
                    <li><a href="https://kwejk.pl/regulamin">Regulamin</a></li>
                    <li><a href="https://kwejk.pl/polityka-prywatnosci">Polityka plików cookies</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<section role="socials">
    <a href="https://www.facebook.com/kwejk.fan" target="_blank" class="icon-facebook"><span></span> Fanpage</a>
    <a href="https://www.instagram.com/kwejk/?hl=pl" target="_blank" class="icon-instagram"><span></span> Instagram</a>
    <a href="https://www.facebook.com/groups/kwejkpogodzinach/" target="_blank" class="icon-group"><span></span>
        Grupa</a>
    <a href="https://kwejk.cupsell.pl/" target="_blank" class="icon-shirt"><span></span> Sklep</a>
</section>
<div id="common" v-cloak>
    <login v-if="!is_logged"></login>
    <password v-if="!is_logged"></password>
    <register-a dusk="register-a-component" v-if="!is_logged"></register-a>
    <register-b dusk="register-b-component" v-if="!is_logged"></register-b>
    <report></report>
    <first-screen-users v-if="show_first_screen_users"></first-screen-users>
    <first-screen-tags v-if="show_first_screen_tags"></first-screen-tags>
    <mobile-creations v-if="is_mobile"></mobile-creations>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwdIbSTVa1TXjcWiPkYyBBe4gcNeceioY&libraries=places"
        async></script>
<script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer></script>

<script src="https://kwejk.pl/js/app.js?id=722ffa8a80d90f51617b" type="text/javascript" async defer></script>
<script type="text/javascript">
    var _qasp = _qasp || [];
    _qasp.push('go');
    _qasp.push(['setSafe', true]);
    _qasp.push(['setFastPAID', 'sadKwejk']);
</script>
<script type="text/javascript">
    (function (d, x, a) {
        var z = d.createElement(x);
        z.type = 'text/javascript';
        z.src = a;
        var s = d.getElementsByTagName(x)[0];
        s.parentNode.insertBefore(z, s);
    })(document, 'script', 'https://s.spolecznosci.net/js/core2-min.20.js');
</script>
<span style="display:none;">0.024680137634277</span>
</body>
</html>